<a href="https://colab.research.google.com/github/19PA1A04D2/NiranjansaiP/blob/master/subset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
df=pd.read_csv("/content/sample_data/california_housing_train.csv")
small_range=list(range(5))
print(small_range)

[0, 1, 2, 3, 4]

In [5]:
import pandas as pd
df=pd.read_csv("/content/sample_data/california_housing_train.csv")
subset=df.iloc[:,small_range]
print(subset.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0
3    -114.57     33.64                14.0       1501.0           337.0
4    -114.57     33.57                20.0       1454.0           326.0

In [8]:
print(df.loc[4, 'latitude'])

33.57

In [10]:
print(df.iloc[[0,99,999],[0,2,3,5]])

     longitude  housing_median_age  total_rooms  population
0      -114.31                15.0       5612.0      1015.0
99     -115.59                20.0       1608.0       862.0
999    -117.10                 6.0       1868.0       750.0

In [11]:
print(df.head(n=10))

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0
5    -114.58     33.63  ...         3.3438             74000.0
6    -114.58     33.61  ...         2.6768             82400.0
7    -114.59     34.83  ...         1.7083             48500.0
8    -114.59     33.61  ...         2.1782             58400.0
9    -114.60     34.83  ...         2.1908             48100.0

[10 rows x 9 columns]